.interior-img {
    object-fit: cover;
    max-width: 924px;
    max-height: 595px;
    &:not(:nth-last-child(-n+2)) {
        margin-bottom: 24px;
    }
    &:nth-child(2n+1) {
        margin-right: 24px;
    }
    img {
        width: 100%;
    }
    @include screen-size(1872px) {
        max-width: 750px;
    }
    @include screen-size(1525px) {
        max-width: 700px;
    }
    @include screen-size(1440px) {
        max-width: 696px;
        max-height: 448px;
    }
    @include screen-size(1416px) {
        max-width: 650px;
        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 14px;
        }
        &:nth-child(2n+1) {
            margin-right: 14px;
        }
    }
    @include screen-size(1314px) {
        max-width: 560px;
    }
    @include screen-size(1314px) {
        max-width: 499px;
    }
    @include screen-size(1024px) {
        max-width: 492px;
        max-height: 316px;
        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 10px;
        }
        &:nth-child(2n+1) {
            margin-right: 10px;
        }
    }
    @include screen-size(994px) {
        max-width: 390px;
    }
    @include screen-size(790px) {
        max-width: 360px;
    }
    @include screen-size(768px) {
        max-width: 354px;
        max-height: 227px;
        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 12px;
        }
        &:nth-child(2n+1) {
            margin-right: 12px;
        }
    }
    @include screen-size(720px) {
        &:not(:last-child) {
            margin: 0 auto 10px;
        }
    }
}