.interior {
    @include section-settings;
    padding-bottom: 0;
    @include screen-size(1024px) {
        padding-top: 80px;
    }
    @include screen-size(768px) {
        padding-top: 70px;
    }
}