$contrast-text-color: #fff;
$secondary-text-color: #474747;
$bg-color-light: #F3F7EA;
$bg-color-dark: #262626;
$big-font: 1.2rem;
$medium-font: 1rem;
$small-font: 0.88rem;
$tiny-font: 0.8rem;
$primary-font-weight: 300;
$secondary-font-weight: 700;
$big-screen: 1440px;
$medium-screen: 1024px;
$small-screen: 768px;